* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}
.App{
  overflow: hidden;
}
.home {
  overflow: hidden;
}

a {
  cursor: pointer;
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}